body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to bottom right, #e6d6ff, #ffffff, #c6ffe0);
}
.hidden { display: none; }

#intro-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  text-align: center;
}
#intro-screen h1 {
  font-size: 60px;
  color: lab(61.62% 52.42 -57.66);
  margin-bottom: 20px;
}
#start-btn {
  padding: 20px 28px;
  font-size: 20px;
  background: #9d6bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
header h2 {
  font-size: 20px;
  color: #7a4db8;
}
.filters button {
  padding: 6px 14px;
  border-radius: 8px;
  border: 1px solid #7a4db8;
  background: white;
}
.filters .active {
  background: #7a4db8;
  color: white;
}

#flashcard-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.flashcard {
  height: 300px;
  perspective: 300px;
  cursor: pointer;
}
.inner-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip { transform: rotateY(180deg); }

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid lab(78.93% -37.12 2.27);
  background: hsl(305, 64%, 85%);
  padding: 15px;
}
.side img { height: 100px; margin-bottom: 10px; }

.back {
  transform: rotateY(180deg);
  background: #e8fff3;
}

.master-btn {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.mastered { background: #68d391; color: white; }
.unmastered { background: #d3b4ff; color: #5a2ea6; }


